.page-scholars
  .scholars-intro
    h2
      font-size: 1.8em
      font-weight: 600
      color: $sch-purple
      margin-top: 30px

      span
        font-weight: 300
        color: $sch-purple-med

    p
      color: darken($sch-gray, 10%)
      text-align: center
      font-size: 0.9em

      a
        text-decoration: none
        font-weight: 500

  .scholars-list
    margin-top: 30px

  .modal-background
    overflow: hidden
    
    &.modal-background-blur
      position: absolute
      top: $header-height
      right: 0
      bottom: 0
      left: 0
      max-height: calc(100vh - $header-height)
      overflow: hidden
      z-index: 1001
      background-color: $white
      opacity: 0.5
      filter: blur(10px)
