$white: rgb(255, 255, 255)

$apl-red: #d72c48
$apl-blue: #2ab0ce
$apl-green: #1fa995
$apl-yellow: #e1a931
$apl-gray: #3a5d6f
$apl-red2: #e64e45
$apl-black: #3c3c3c
$apl-black2: rgb(69, 69, 69)
$apl-black3: rgb(80, 80, 80)
$apl-purple: rgb(141, 96, 167)

$sch-purple: rgb(65, 53, 153)
$sch-purple-med: rgb(106, 101, 164)
$sch-purple-light: rgb(141, 139, 193)

$sch-red1: #EF5349
$sch-red2: #E64D43
$sch-blue1: #3EB5D9
$sch-blue2: #395D6F
$sch-green: #3AB298
$sch-orange: #F99532

$sch-gray: rgb(108, 108, 108)
$sch-gray0: rgb(127, 127, 127)
$sch-gray1: rgb(205, 205, 205)
$sch-gray2: rgb(228, 228, 228)
$sch-gray3: rgb(233, 233, 233)
$sch-gray4: rgb(252, 252, 252)

$background-gray: rgb(245, 245, 245)

$form-placeholder-color: $sch-gray
$form-border-color: rgb(151, 151, 151)

$shadow: rgba(0, 0, 0, 0.16)
