$_form-colors: (
  purple: (bg: 'sch-purple', fg: 'label'),
  red: (bg: 'sch-red1', fg: 'label'),
  orange: (bg: 'sch-orange', fg: 'label'),
  green: (bg: 'sch-green', fg: 'label'),
  blue: (bg: 'sch-blue1', fg: 'label')
)
