$_form-colors: (
  purple: (bg: $sch-purple, fg: $white),
  red: (bg: $sch-red1, fg: $white),
  orange: (bg: $sch-orange, fg: $white),
  green: (bg: $sch-green, fg: $white),
  blue: (bg: $sch-blue1, fg: $white)
)
