html
  overflow: auto

html, body
  height: 100%

body
  background-color: $background-color
  width: 100%
  max-width: 100%
  font-size: 20px
  font-weight: 400
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  color: $sch-label
  -webkit-text-size-adjust: 100%

*
  box-sizing: border-box
