<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>WWDCScholars-Backend.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>OBJ_1396</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1432</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1439</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1485</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1521</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1528</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2062</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2078</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2080</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2081</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2110</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2129</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2151</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2163</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2167</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2169</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2170</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2171</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2179</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2199</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2211</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2218</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2252</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2258</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2260</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2268</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2280</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2293</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2300</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2314</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2337</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2347</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2369</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2382</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2403</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2408</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2410</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2411</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2426</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2497</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2499</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2500</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2541</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2591</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2630</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2637</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2664</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2680</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2690</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2711</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2720</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2726</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2738</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2753</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2779</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2788</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2800</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2809</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2827</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2841</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2877</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2896</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2930</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2949</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2985</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3037</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3038</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3039</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3126</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3128</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3192</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3270</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3281</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3350</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3359</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3439</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3520</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3609</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3635</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3669</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3684</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3718</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3721</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3723</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3725</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3788</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3830</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
