@import "~web-assets.style/1-base/vars"
@import "~web-assets.style/1-base/colors"

.scholar-thumbnail
  position: relative
  max-width: 160px
  max-height: 160px
  width: 100%
  height: 100%
  border-radius: $border-radius-large
  overflow: hidden
  border: 0
  background: 0
  padding: 0

  .scholar-image
    width: 100%
    height: 100%
    object-fit: cover

  .scholar-name
    position: absolute
    right: 0
    bottom: 0
    left: 0
    height: 40px
    line-height: 40px
    background: transparentize($sch-purple, 0.25)
    text-align: center
    color: $white
    font-size: 1.2em
    font-weight: 500
    border-bottom-left-radius: $border-radius-large
    border-bottom-right-radius: $border-radius-large
