body{
	color:white;
	background-color:#292A38;
	font-family:"Myriad Set Pro", "Lucida Grande", "Helvetica Neue", "Helvetica", "Arial", "Verdana", "sans-serif";
	-webkit-font-smoothing: antialiased;
}
@font-face {
	font-family: 'San Francisco Text';
	font-weight: normal;
	src: url('../fonts/SF-UI-Text-Regular.otf');

}
a{
	color:white;
}
a:hover{
	color:rgb(100,100,100);
}
h2{
	font-weight: normal;
}

.navbar-inverse{
	background-color:transparent;
	border-bottom: 1px solid rgba(230, 230, 230, 0.1);
}
.navbar{
	font-size:13px;
	border-radius:0;
}
.navbar-inverse .navbar-nav>li>a{
	color:white;
}
.submit-button{
	background-color:#50ACA6;
	padding: 0 7px !important;
	margin: 15px 3px;
	border-radius:4px;
	background-image:linear-gradient(to bottom, #2AD4CB 0%, #1A827D 100%);
	text-shadow:0 1px 1px rgba(28, 115, 184, 0.64);
	border:1px solid #22ABA4;
}
.team-image{
	width:100%;
	min-height:350px;
	background-size:cover;
	background-image: url('../images/team.jpg');
	background-position: center 30%;
}
.team-image-gradient{
	width:100%;
	height:175px;
	top:220px;
	position:relative;
	background-size:contain;
	background-repeat: repeat;
	background-image: url('../images/gradient.png');
}
/** Syntax Highlighting Colours */
.code{
	font-family: monospace;
}
.pink{
	color:#B73D99;
}
.red{
	color:#DC3C3C;
}
.blue{
	color:#50ACA6;
}
.orange{
	color:#D28E5D;
}
.green{
	color:#95C76F;
}
/** Scholar on Home */
.scholar_overview{
	margin-bottom:30px;
	overflow-x:hidden;
}
.scholar_square{
	width:100%;
	position:relative;
}
.scholar_square img{
	max-width:100%;
	max-height:100%;
	border-radius:14px;
}
.scholar_square p{
	font-size:130%;
	width:100%;
	position:absolute;
	bottom:0;
	margin:0;
	text-align:center;
	background-color:rgba(65,58,153,0.75);
	border-bottom-left-radius:14px;
	border-bottom-right-radius:14px;
}
/** Scholar on Detail */
.map{
	position:relative;
	float:left;
	width:100%;
}
.scholar_detail{
	width:70%;
	margin:auto;
	position:relative;
}
.scholar_detail .row{
	margin-bottom:20px;
}
.scholar_detail .col-xs-4{
	border-left:2px solid rgb(130,130,130);
}
.scholar_detail .col-xs-4:first-child{
	border-left:0;
}
.scholar_detail .row p{
	color:rgb(130,130,130);
}
@media screen and (max-width: 500px){
	.scholar_detail{
		width:100%;
	}
}
.scholar_detail h5{
	color:rgb(130,130,130);

}
.scholar_centered_photo{
	width:150px;
	height:150px;
	border-radius: 75px;
	border:6px solid #50ACA6;
	margin-top:-75px;
}
.center{
	text-align:center;
}